---

---

<article class="flex flex-col items-center justify-center gap-8 text-white-700 dark:text-gray-300 md:flex-row">
    <div
        class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
        <p>
            Hola! Soy <strong><u> Horacio Nahuel Laphitz</u></strong>, tengo 24 años y soy de la Ciudad de <em
                class="italic">Posadas
                Misiones.</em>
        </p>
        <p>
            Cuento con experiencia de <strong>2 años y medio</strong> trabajando con datos y siempre me apasiona poder
            encontrar
            una nueva solucion o nuevo punto de vista a los problemas empresariales haciendo uso del poder de los Datos.
        </p>
        <p>
            <strong>Me dedico a cerrar Brechas con equipos técnicos y no técnicos</strong>, en mi experiencia dieron
            como resultado en
            una mejora
            significativa de la toma de decisiones y la optimización de procesos.
        </p>
        <p>
            <strong><u>Mi forma de trabajar es simple:</u></strong> Llevo a cabo un análisis exhaustivo de grandes
            volúmenes de
            información, identificando patrones,
            tendencias
            y correlaciones relevantes entre las variables.
        </p>
        <p>
            A través de técnicas de minería de datos recopilo la información,
            posteriormente la analizo con herramientas como <strong>SPSS - Python - R - SQL</strong> , almaceno los
            datos en bases de datos tanto en local con <strong>SQL(PostgreSQL - MySql) </strong>o en la nube con dentro
            de Google Cloud
            Platform, haciendo uso de: <strong>BigQuery - Cloud SQL - Cloud Storage - Buckets</strong> y genero
            visualizaciones
            sobre los
            resultados del análisis con librerias de R como<strong> ggplot2 - RMarkdown</strong>, librerias de Python
            como <strong>Seaborn - Matplotlib</strong>,softwares como <strong>Tableau -
                PowerBi.</strong> y herramientas de la nube como <strong>Looker Studio.</strong>
        </p>
        <p>
            Finalmente
            genero <strong>insights valiosos </strong> que permiten tomar decisiones estratégicas basadas en evidencia,
            optimizando
            procesos y maximizando resultados.
        </p>
        <p>
            <strong>Mi basto conocimiento en Python </strong>es mi principal herramienta para transformar los datos en
            conocimiento
            accionable y obtener una ventaja competitiva.
        </p>
        <p>
            Me destaco al trabajar con equipos de trabajo orientados a los detalles, colaborando de manera eficaz y
            precisa.
        </p>
        <p>
            <strong><u>Habilidades Clave:</u></strong>
        </p>
        <p>
        <ul>
            <style>
                ul {
                    list-style: none;
                    padding: 0;
                }

                li {
                    margin: 10px 0;
                }

                .category {
                    font-weight: bold;
                    margin-bottom: 5px;
                }
            </style>
            <ul>
                <li><strong>Programación:</strong> Python, R, SQL</li>
                <li><strong>Visualizaciones:</strong> Tableau, Power BI, Matplotlib, Seaborn, ggplot2 , RMarkdown</li>
                <li><strong>Cloud Computing:</strong> GCP (Google Cloud Platform)</li>
                <li><strong>Bases de Datos:</strong> SQL Server, MySQL, PostgreSQL, NoSQL (MongoDB)</li>
                <li><strong>Machine Learning:</strong> Regresión, clasificación, clustering, deep learning</li>
                <li><strong>Estadística:</strong> Descriptiva, inferencial, series de tiempo , análisis de Tendencias
                </li>
                <li><strong>ETL:</strong> Extracción, transformación y carga de datos</li>
                <li><strong>Herramientas:</strong> Jupyter Notebook, RStudio, Git, Pycharm , SPSS</li>
                <li><strong>Ciclo de Vida de un Proyecto de Datos:</strong> Comprensión del negocio, Adquisición de
                    datos,
                    Exploración de datos, Modelado, Implementación, Monitoreo y Mantenimiento</li>
            </ul>
            </p>
            <p>
                <br />
                <strong><a id="contacto"
                        href="https://docs.google.com/forms/d/e/1FAIpQLScbQOx7wyFWV1dsu0ZpktVnP3jvwr9udZaolWq-zCQgIwm3TA/viewform?usp=sf_link"
                        class="hover:underline" target="_blank"><u>Formulario de Contacto Directo</u></a></strong>
            </p><br />
            <em class="italic">
                <a href="https://drive.google.com/drive/folders/1XRv9ZWegRbOknIgQG1mtivt_4zUy6Y1T?usp=drive_link"
                    target="_blank">
                    <p><strong><u>Mira mis Certificaciones acá</u></strong></p>
                </a>
            </em>
    </div>
</article>