---

---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
    <div
        class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
        <p>
            <strong>Hola! Soy Horacio Nahuel Laphitz</strong>, tengo 24 años y soy de la Ciudad de <em
                class="italic">Posadas
                Misiones.</em>
        </p>
        <p>
            Cuento con experiencia de casi de <strong>3 años trabajando con datos</strong> y siempre me apasiona poder
            encontrar
            una nueva solucion o nuevo punto de vista a los problemas empresariales haciendo uso del poder de los Datos.
        </p>
        <p>
            <strong>Cierro Brechas con equipos técnicos y no técnicos en proyectos</strong>, en mi experiencia dieron
            como resultado en
            una mejora
            significativa de la toma de decisiones y la optimización de procesos.
        </p>
        <p>
            <strong>Llevo a cabo un análisis exhaustivo de grandes volúmenes de información, identificando patrones,
                tendencias
                y correlaciones relevantes entre las variables.</strong>
        </p>
        <p>
            A través de técnicas de minería de datos recopilo la información,
            posteriormente la analizo con herramientas como SPSS , Python, R , SQL y genero visualizaciones
            sobre los
            resultados del análisis con librerias de R como ggplot2 , RMarkdown y softwares como Tableau y
            PowerBi.
        </p>
        <p>
            Además
            genero insights valiosos que permiten tomar decisiones estratégicas basadas en evidencia, optimizando
            procesos y maximizando resultados.
        </p>
        <p>
            <strong>Mi expertise en Python es fundamental para transformar los datos en
                conocimiento
                accionable y obtener una ventaja competitiva en el mercado.</strong>
        </p>
        <p>
            Poseo la versatilidad de poder desarrollar y trabajar con equipos de trabajo orientados a los detalles,
            tanto en local como dentro de Google Cloud
            Platform, haciendo uso de: BigQuery, Cloud SQL , Buckets, Cloud Storage , Compute Engine,
            DataFlow.
        </p>
        <p>
            <strong><u>Habilidades Clave:</u></strong>
        <ol>
            Python - SQL - R - SPSS - GCP - Tableau - Power BI | ETL,
            Machine
            Learning - Deep
            Learning - Análisis Exploratorio de Datos - Proceso P.A.C.E de trabajo | Trabajo en Equipo -
            Comunicación efectiva -
            Pensamiento
            Crítico Orientado a la Resolución de Problemas.
        </ol>
        </em>
        </p>
        <br />
        <p>
            <strong><u>Disponibilidad para Entrevistas en los puestos:</u> </strong><br />
            <em class="italic">
                <ol>Data Analyst /Visualizer -
                    Insights Analytics -
                    Python Developer - SQL Developer - Data Base
                    Administrator - Data Engineering Jr.
                </ol>
            </em>
        </p>
        <p>
            <br />
            <strong>¿Trabajamos Juntos? Por favor, envíame un correo!</strong>.
        </p>
        <em class="italic">
            <a href="https://drive.google.com/drive/folders/1XRv9ZWegRbOknIgQG1mtivt_4zUy6Y1T?usp=drive_link"
                target="_blank">
                <p><strong><u>Link a mis Certificaciones</u></strong></p>
            </a>
        </em>
    </div>
</article>