---
const personalImageAlt = "Horacio Laphitz";
---

<article
    class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
    <div
        class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
    >
        <p>
            Soy Horacio Nahuel Laphitz, de la Ciudad de Posadas Misiones y
            actualmente me desempeño como <strong
                >Analista de Datos Ssr y Desarrollador Python Ssr</strong
            >.
        </p>
        <p>
            Mis Proyectos abarcan <strong
                >desde el desarrollo de informes Analíticos de Datos Complejos
                hasta la creación de Modelos de Aprendizaje Automático
            </strong> Busco siempre garantizar la integridad de la información previa/posterior
            al análisis, almacenarlos de la manera más óptima y visualizarlos para
            poder tomar decisiones informadas, basadas en Datos.
        </p>

        <p>
            Actualmente me encuentro trabajando de manera Remota e Híbrida, <strong
                >cuento disponibilidad para Entrevistas en los puestos: <em
                    class="italic"
                    >Data Analyst - Data Visualizer - Data Warehouse Management
                    - Python Developer - SQL Developer - Data Base Administrator</em
                >
            </strong>
        </p>
        <em class="italic">
            <a
                href="https://drive.google.com/drive/folders/1XRv9ZWegRbOknIgQG1mtivt_4zUy6Y1T?usp=drive_link"
                target="_blank"
            >
                <strong>Link a mis Certificaciones</strong>
            </a>
        </em>
    </div>

    <img
        width="200"
        height="200"
        src="public/projects/YO-jpg.jpg"
        alt={personalImageAlt}
        class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
        style="object-position: 50% 50%"
    />
</article>
