---

---

<article
    class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
    <div
        class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
    >
        <p>
            Soy Horacio Nahuel Laphitz, de la Ciudad de Posadas Misiones y
            actualmente me desempeño profesionalmente como: <strong
                >Analista de Datos Ssr y Desarrollador Python Ssr.</strong
            ><br />
            <p>
                <strong>
                    <em class="italic">SERVICIOS</em>
                </strong>
            </p>
            <p>
                <strong><u>Extracción, Transformación y Carga (ETL)</u></strong>
                Hago uso de Airflow y python para esta tarea, es ideal para definir
                y ejecutar pipelines ETL, que son el corazón de muchos proyectos
                de datos.<br />
                <p>
                    <strong
                        ><u
                            >Automatizacion de extracción de datos de diversas
                            fuentes:
                        </u></strong
                    >Bases de Datos, Archivos, APIs para transformarlos y
                    cargarlos en un data warehouse o data lakes.<br />
                </p>
                <p>
                    <strong><u>Preparación de datos:</u></strong> Optimizo la limpieza,
                    validación y enriquecimiento de datos antes de su análisis.<br
                    />
                </p>
                <p>
                    <strong><u>Construcción de data pipelines:</u></strong>
                    Creacion de pipelines altamente personalizables y escalables,
                    que pueden incluir tareas como la ingestión de datos en tiempo
                    real, la creación de características y la generación de informes.<br
                    />
                </p>
                <p>
                    <strong><u>Entrenamiento de modelos:</u></strong> Poseo formacion
                    para programar y ejecutar el entrenamiento de modelos de manera
                    repetible y eficiente, con la eficacia de la medicion basada
                    en indicadores de rendimiento como KPI'S.<br />
                </p>
                <p>
                    <strong><u>Análisis de Datos:</u></strong> Utilizo el lenguaje
                    de Programación R para esta tarea , es una forma sencilla y confiable
                    de poder realizar análisis e inferencias sobre los datos, ademas
                    de poder realizar visualizaciones de los datos para obtener una
                    comprensión plena de lo que se esta tratando.<br />
                </p>
                <p>
                    <strong><u>Análisis en tiempo real:</u></strong> Uso de Airflow
                    para crear pipelines de procesamiento de datos en tiempo real,
                    lo que es fundamental para aplicaciones como el monitoreo de
                    sistemas o la detección de anomalías.<br />
                </p>
                <p>
                    <strong><u>Programacion en Python:</u></strong> Mi formacion
                    como desarrollador python me permite explotar todo su potencial
                    en la programacion orientada a objetos, también en el ambito
                    de los datos como en el desarrollo web , en Machine Learning
                    y DeepLearning. Para esto hago uso de librerias:<em
                        class="italic"
                    >
                        Numpy , Pandas , Matplotlib , Plotly , Seaborn , Django
                        , Flask, Sciencekit-learn,TensorFlow.</em
                    ><br />
                </p>
                <p>
                    <strong><u>MLOps:</u></strong> Me dedico a gestionar el ciclo
                    de vida completo de los modelos de machine learning, desde el
                    entrenamiento hasta la implementación, haciendo uso de Airflow.<br
                    />
                </p>
                <p>
                    <strong><u>Linux:</u></strong> Optimización de recursos , mantenimiento
                    de servidores , administracion de bases de datos, CloudComputing.<br
                    />
                </p>
                <p>
                    <br />
                    <em class="italic"
                        >Conmigo tus datos siempre estaran seguros
                        previo/posterior al análisis, almacenados de la manera
                        más óptima y visualizados para poder tomar decisiones
                        informadas,<strong> basadas en datos.</strong></em
                    >
                </p>
                <p>
                    <br />
                    ¿Trabajamos Juntos? Por favor, Contactémonos!. <br />
                    <strong
                        >Disponibilidad para Entrevistas en los puestos: <em
                            class="bold"
                            >Data Analyst / Visualizer - Insights Analytics -
                            Python Developer - SQL Developer - Data Base
                            Administrator - Data Engineering Jr.</em
                        >
                    </strong>
                </p><br />
                <em class="italic">
                    <a
                        href="https://drive.google.com/drive/folders/1XRv9ZWegRbOknIgQG1mtivt_4zUy6Y1T?usp=drive_link"
                        target="_blank"
                    >
                        <p><strong>Link a mis Certificaciones</strong></p>
                    </a>
                </em>
                <em
                    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
                >
                    <a
                        href="https://drive.google.com/file/d/1yVY_w_VyLsnNnqiANeVsvHooBLDywX19/view?usp=sharing"
                        target="_blank"
                    >
                        <p><strong><ul>Descargar CV</ul></strong></p>
                    </a>
                </em>
            </p>
        </p>
    </div>
</article>
