---

---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
    <div
        class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
        <p>
            Soy Horacio Nahuel Laphitz, de la Ciudad de Posadas Misiones y
            actualmente me desempeño profesionalmente como: <strong>Analista de Datos Ssr y Desarrollador Python
                Ssr.</strong><br />
        <p>
            <strong>
                <em class="italic">SERVICIOS</em>
            </strong>
        </p>
        <p>
            <strong><u>ETL con Airflow y Python</u></strong>
            Diseño y ejecuto pipelines personalizados para extraer, transformar
            y cargar datos de diversas fuentes, optimizando su calidad y preparandolos
            para análisis.
        <p>
            <strong><u>Automatizacion de extracción de datos de diversas
                    fuentes:
                </u></strong>Bases de Datos, Archivos, APIs para transformarlos y
            cargarlos en un data warehouse o data lakes.<br />
        </p>
        <p>
            <strong><u>Preparación de datos:</u></strong> Limpio, valido y enriquezco datos para garantizar su
            confiabilidad y precisión.<br />
        </p>
        <p>
            <strong><u>Construcción de data pipelines:</u></strong>
            Creo pipelines escalables y flexibles, incluyendo procesamiento en tiempo real y generación de
            informes.<br />
        </p>
        <p>
            <strong><u>Entrenamiento de modelos:</u></strong> Desarrollo e implemento modelos de machine learning
            utilizando Python y librerías como Scikit-learn y TensorFlow, evaluando su desempeño con KPIs.<br />
        </p>
        <p>
            <strong><u>Análisis de Datos:</u></strong> Realizo análisis exploratorio y estadístico con R y Python,
            visualizando resultados para una mejor comprensión.<br />
        </p>
        <p>
            <strong><u>MLOps con Airflow:</u></strong> Gestiono el ciclo de vida completo de los modelos, desde el
            desarrollo hasta la producción.<br />
        </p>
        <p>
            <strong><u>Infraestructura:</u></strong> Experiencia en administración de sistemas Linux, bases de datos y
            cloud computing.<br />
        </p>
        <p>
            <strong><u>Tecnologías y Librerias:</u></strong><em class="italic">
                Python (Numpy , Pandas , Matplotlib , Plotly , Seaborn , Django, Flask, Sciencekit-learn,TensorFlow), R,
                Airflow, SQL, Machine Learning, Deep Learning .</em><br />
        </p>
        <p>
            <br />
            <em class="italic">Mi mision es transformar tus datos en insights accionables, automatizar procesos ,
                Optimizar los Recursos y Reducir Errores. Aplico Modelos predictivos con la finalidad de anticipar
                tendencias y mejorar la toma de decisiones.Además,Implemento Soluciones personalizadas adaptando mis
                servicios a tus necesidades específicas.</em>
        </p>
        <p>
            <br />
            ¿Trabajamos Juntos? Por favor, Cantactame!.<br />
            <strong>Disponibilidad para Entrevistas en los puestos: <br /><em class="bold">Data Analyst / Visualizer -
                    Insights Analytics -
                    Python Developer - SQL Developer - Data Base
                    Administrator - Data Engineering Jr.</em>
            </strong>
        </p><br />
        <em class="italic">
            <a href="https://drive.google.com/drive/folders/1XRv9ZWegRbOknIgQG1mtivt_4zUy6Y1T?usp=drive_link"
                target="_blank">
                <p><strong>Link a mis Certificaciones</strong></p>
            </a>
        </em>
        </p>
        </p>
    </div>
</article>