---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "abr. 2024 - jul. 2024",
    title: "Data Entry",
    company: "Ucrop.it",
    description: `Uso sistemas seguros para proteger datos sensibles.
Extracción e interpretación de imágenes satelitales para
entrenamiento de algoritmo para detección de zonas cultivables.
Experiencia en análisis de imágenes satelitales,
identificación de patrones en los datos y reconocimiento
de zonas cultivables.
Trabajo en equipo para garantizar la seguridad de los
datos y el éxito del proyecto.
`,
    link: "https://www.linkedin.com/in/horacio-laphitz/details/experience/",
    link1:
      "https://www.linkedin.com/in/horacio-laphitz/details/recommendations/",
  },
  {
    date: "abr. 2020 - dic. 2020",
    title: "Trainer - Capacitador",
    company: "Hospital Escuela de Agudos Dr. Ramón Madariaga (Posadas)",
    description: `Diseñé y cree soluciones basadas en estadistica, haciendo uso de esta para optimizar los procesos y
aumentar la
eficiencia del personal, reduciendo el tiempo de espera de los pacientes del Hospital.
Reduje la brecha de conocimiento en el uso del sistema de Historia Clínica de los habitantes de misiones entre personal
técnico y no técnico.
Uso de Indicadores de Rendimiento , analisis de resultados e implementacion de mejoras.
Experiencia en extracción de datos, análisis de datos y creacion de reportes.
Logros clave: Análisis de resultados mediante técnicas
estadísticas para mejorar rendimiento del personal.`,
  },
  {
    date: "mar. 2019 - mar. 2020",
    title: "Administrativo Contable e Infomático",
    company: "Ministerio de Salud Pública (Posadas)",
    description: `Optimización de procesos para agilizar la gestión y carga
de datos, garantizando su precisión y confiabilidad.
Implementación de medidas para asegurar la coherencia
y fiabilidad de los registros contables.
Mantenimiento proactivo del hardware para garantizar la
estabilidad del entorno de procesamiento de datos.`,
  },
];
---

<ol class="relative mt-22">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
