---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "abr. 2024 - jul. 2024",
    title: "Data Entry",
    company: "Ucrop.it",
    description: `Como Data Entry, me especialicé en el análisis de imágenes satelitales para la aplicacion en 
    entrenamiento algoritmo Machine Learning que permite identificar con alta precisión diferentes tipos de cultivos a partir de grandes conjuntos de datos. 
    Como resultado de esto, se cumplio con exito la mision del proyecto y se lograron eficazmente medidas de seguridad para proteger la confidencialidad de la información, garantizando el cumplimiento de las normativas vigentes.`,
    link: "https://www.linkedin.com/in/horacio-laphitz/details/experience/",
    link1:
      "https://www.linkedin.com/in/horacio-laphitz/details/recommendations/",
  },
  {
    date: "abr. 2020 - dic. 2020",
    title: "Trainer - Capacitador",
    company: "Hospital Escuela de Agudos Dr. Ramón Madariaga (Posadas)",
    description: `Como Trainer, me enfoqué en optimizar los procesos clínicos a través de la aplicación de técnicas estadísticas, lo que permitió aumentar la eficiencia del personal y reducir el tiempo de acceso a la historia clínica de los pacientes. 
    Además, implementé un sistema de indicadores de rendimiento que permitió identificar áreas de mejora y tomar acciones basadas en evidencia. 
    Como resultado implementó exitosamente del Registro Integral de Salud de Misiones, mejorando la calidad de la atención y la toma de decisiones basadas en datos`,
  },
  {
    date: "mar. 2019 - mar. 2020",
    title: "Administrativo Contable e Infomático",
    company: "Ministerio de Salud Pública (Posadas)",
    description: `Como admistrativo y auditor de Bases de Datos, me enfoqué en optimizar los procesos de gestión de datos, 
    lo que resultó en una aceleración significativa en la carga de información y una mejora sustancial en su precisión. 
    Además, implementé controles de calidad para asegurar la integridad de los registros contables, minimizando errores y riesgos.
    A través de un mantenimiento preventivo del hardware, garanticé la estabilidad del entorno de procesamiento de datos, 
    reduciendo el tiempo de inactividad y maximizando la eficiencia operativa`,
  },
];
---

<ol class="relative mt-22">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
