---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "abr. 2024 - jul. 2024",
    title: "Data Entry",
    company: "Ucrop.it",
    description:
      "Mantenimiento de la confidencialidad y seguridad de datos sensibles.Extraccion de Imagenes Satélitales para su aplicacion en Entrenamiento de Algoritmo de Detección de Zonas Cultivables.",
    link: "https://www.linkedin.com/in/horacio-laphitz/details/experience/",
    link1:
      "https://www.linkedin.com/in/horacio-laphitz/details/recommendations/",
  },
  {
    date: "abr. 2020 - dic. 2020",
    title: "Trainer , Capacitador",
    company: "Hospital Escuela de Agudos Dr. Ramón Madariaga (Posadas)",
    description:
      "Diseño e implementación de soluciones que mejoraron la eficiencia del personal, Garantía de que el personal médico esté capacitado para utilizar el sistema R.I.S.MI de manera efectiva. Contribución a la mejora de la atención primaria de salud mediante la capacitación y el uso de herramientas analíticas. Implementación exitosa de software personalizado adaptado a las necesidades específicas.",
  },
  {
    date: "mar. 2019 - mar. 2020",
    title: "Administrativo Contable e Infomático",
    company: "Ministerio de Salud Pública (Posadas)",
    description:
      "Identifique y apliqué  mejoras para agilizar la gestión de datos. Mejore la precision de la Carga de Datos. Garanticé que los registros contables sean coherentes y confiables. Mantenimiento efectivo del hardware asegurando un entorno estable para el procesamiento de datos.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
