<div
    class="relative h-full w-full bg-gradient-to-r from-blue-500 via-green-500 to-yellow-500"
>
    <div
        class="absolute bottom-0 left-0 right-0 top-1 bg-[radial-gradient(circle_500px_at_50%_200px,#3e3e3e,transparent)]"
    >
        <div class="absolute inset-0 flex items-center justify-center">
            <div class="text-center text-white initial-scale=1.0">
                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg"
                    alt="Python Logo"
                    class="w-auto h-auto mx-auto"
                    style="transform: translateY(-220%);"
                />
            </div>
        </div>
    </div>
</div>
