---
const personalImageAlt = "hache photo";
import Badge from "src/components/Badge.astro";
import LinkedInIcon from "src/components/icons/LinkedIn.astro";
import Mail from "src/components/icons/Mail.astro";
import SocialPill from "src/components/SocialPill.astro";
import Github from "./icons/Github.astro";
import CV from "./icons/CV.astro";
---

<div class="px-1">
    <div class="py-40 pb-24">
        <img
            class="rounded-full size-15 mb-4"
            src="./projects/PERFIL_redimensionado.jpg"
            alt={personalImageAlt}
        />
        <h1
            class="text-red text-3xl lg:text-5xl md:text-4xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
        >
            Hola! Soy Horacio Laphitz
            <a
                href="https://www.linkedin.com/in/horacio-laphitz/"
                target="_blank"
                rel="noopener"
                class="flex justify-center items-center"
            >
                <Badge>Ready to Work</Badge>
            </a>
        </h1>
        <h2 class="text-2xl lg:text-2xl text-wrap max-w-[700px]">
            <span class="text-yellow-400 opacity-90">
                Data Analyst Ssr | Python Developer Ssr</span
            ><br />
            <span class="text-blue-200 opacity-80"
                >Freelancer</span
            >
            <br />
            <span class="text-red-200">📌 Posadas - Misiones , Argentina </span>
        </h2>
        <nav class="flex gap-4 mt-8">
            <SocialPill href="https://www.linkedin.com/in/horacio-laphitz/">
                <LinkedInIcon class="size-4 md:size-6" />
                Linkedin
            </SocialPill>
            <SocialPill href="https://github.com/hache22">
                <Github class="size-4 md:size-6" />
                Github
            </SocialPill>
            <SocialPill href="mailto:horaciolaphitz99@gmail.com">
                <Mail class="size-4 md:size-6" />
                Correo
            </SocialPill>
            <SocialPill
                href="https://drive.google.com/file/d/1LLhWNSxaqMBs-iLing10AxZQE92IRahH/view?usp=sharing"
            >
                <CV class="size-4 md:size-6" />
                Descarga Cv
            </SocialPill>
        </nav>
    </div>
</div>
